     
   
     <div class="dialog-content">
            <button class="dialog-button-unfollow" (click)="handleUnfollow()">Unfollow</button>
            <hr>
            <button class="dialog-button" (click)="handleGoToPost()">Go to post</button>
            <hr>
            <button class="dialog-button" (click)="handleAddToFavorites()">Add to favorites</button>
            <hr>
            <button class="dialog-button" (click)="handleCopyLink()">Copy link</button>
            <hr>
            <button class="dialog-button" (click)="handleAboutThisAccount()">About this account</button>
            <hr>
            <button class="dialog-button cancel-button" (click)="onClose()">Cancel</button>
          </div>
    

