/* main-layout.component.css */
html, body {
    height: 100dvh;
    margin: 0;
    width: 100dvw;
  }
  
  .container-fluid {
    height: 100%; /* Full viewport height */
    
  }
  
  .row {
    height: 100%;
  }
  
  .sidebar {
    position: sticky; /* Makes the sidebar stick to the viewport */
    top: 0; /* Keeps it at the top */
    height: 100vh; /* Full viewport height */
    overflow: auto; /* Allows scrolling if needed */
  }
  
  .main-content {
    height: 100%; /* Full height of the row */
    overflow-y: auto; /* Enables vertical scrolling */
    padding: 20px; /* Optional padding */
  }
  
/*----------- Custom scrollbar styling-----------*/
/* Custom scrollbar styling */
.main-content::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.main-content::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

.main-content::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  border-radius: 10px; /* Round scrollbar */
  border: 2px solid #f1f1f1; /* Add space around scrollbar */
}

.main-content::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

/*----------- Custom scrollbar styling-----------*/
