<div *ngIf="isProfilePage">
  <div   *ngFor="let row of chunk(posts, isProfilePage ? 3 : 1)" class="post-row" [ngClass]="{ 'profile-row': isProfilePage, 'home-row': !isProfilePage }">
    <div *ngFor="let post of row" class="post">
      <div class="post-header">
        <!-- Add any header content here -->
      </div>
      <div class="post-content" *ngIf="post.imageUrl">
        <img [src]="'data:image/png;base64,' + post.imageUrl" alt="Post Image" [ngClass]="{ 'profile-posts': isProfilePage, 'home-posts': !isProfilePage}">
        <p>{{ post.content }}</p>
      </div>
      <div class="post-content" *ngIf="post.videoUrl">
        <video controls>
          <source [src]="'data:video/mp4;base64,' + post.videoUrl" type="video/mp4" [ngClass]="{ 'profile-posts': isProfilePage, 'home-posts': !isProfilePage}">
          Your browser does not support the video tag.
        </video>
        <p>{{ post.content }}</p>
      </div>
    </div>
  </div>
</div>
<!-- For home row only -->
<div *ngIf="!isProfilePage">
  <div class="post-row home-row">
    <div class="post">
      <div class="post-header">
        <!-- Add any header content here -->
      </div>
      <div class="post-content" *ngIf="visiblePost?.imageUrl">
        <img [src]="'data:image/png;base64,' + visiblePost?.imageUrl" alt="Post Image" class="home-posts">
        <p>{{ visiblePost?.content }}</p>
      </div>
      <div class="post-content" *ngIf="visiblePost?.videoUrl">
        <video controls>
          <source [src]="'data:video/mp4;base64,' + visiblePost?.videoUrl" type="video/mp4" class="home-posts">
          Your browser does not support the video tag.
        </video>
        <p>{{ visiblePost?.content }}</p>
      </div>
    </div>
  </div>
  <div class="nav-buttons">
    <button class="nav-button" (click)="previousPost()">&#8593;</button> <!-- Up arrow for previous -->
    <button class="nav-button" (click)="nextPost()">&#8595;</button> <!-- Down arrow for next -->
  </div>
</div>

