.sidebar {
    /* width: 200px; Adjust width as needed */
    padding: 10px;
   /* background-color: #087aec;  Light background color */
    height: 100vh; /* Full height sidebar */
  }
  
  .sidebar img.img-fluid {
    width: 100%; /* Make logo image responsive */
    cursor: pointer;
    height: 40px;
  }
  
  .profile-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px; /* Adjust spacing as needed */
  }
  
  .profile-container img.img-circle {
    width: 50px; /* Set a fixed width for the profile image */
    height: 50px; /* Set a fixed height for the profile image */
    border-radius: 50%; /* Make the image circular */
    margin-right: 10px; /* Space between image and text */
    border: 2px solid blue;
    transition: transform 0.3s ease;
  }

  .profile-container img.img-circle:hover {
    transform: scale(2.1); /* Scale up the image on hover */
  }
  
  .sidebar .button-container {
    width: 100%; /* Make button span the full width of its parent container */
  }
  
  .sidebar .btn-block {
    width: 100%; /* Full width button */
  }
  
  .post{
    float: left;
    border: none;

  }

  .unique-button {
    padding: 10px 13px;
    font-size: 18px;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    outline: none;
    position: relative;
    overflow: hidden;
  }

  .unique-button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgba(182, 3, 3, 0.5), rgba(255, 255, 255, 0) 70%);
    transition: opacity 0.3s ease;
    opacity: 0;
  }

  .unique-button:hover:before {
    opacity: 1;
  }

  .unique-button:hover {
    background-color: #fa0505;
    color: black;
    font-weight: bold;
  }

  .unique-button:active {
    transform: scale(0.95);
  }


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
