<div class="sidebar">
  <img src="/assets/instagram-logo-name.png" alt="Instagram Logo" class="img-fluid mb-3" (click)="navigateToHome()">
  <ul>
    <li class="sidebar-item">
      <div class="profile-container" (click)="navigateToProfile()">
        <img [src]="'data:image/png;base64,' + user?.image" alt="Profile Image" class="img-circle">
        <h1>Profile</h1>
      </div>
    </li>
    <li class="sidebar-item">
      <div class="button-container">
        <button class="unique-button" (click)="openDialog()"> &oplus; Create</button>
      </div>
    </li>
    <li class="sidebar-item">
      <div class="button-container">
        <button class="unique-button" type="button" (click)="logout()">
          <i class="fa-light fa-arrow-right-from-bracket"></i> Logout
        </button>
      </div>
    </li>
    <li class="sidebar-item">
      <div class="button-container">
        <button class="unique-button" type="button" (click)="recommanded()">Recommanded</button>
      </div>
    </li>
    <li class="sidebar-item">
      <div>
        <app-theme-toggle (themeChanged)="onThemeChange($event)"></app-theme-toggle>
      </div>
    </li>
  </ul>
</div>
