<div class="sidebar">
  <!-- Logo -->
  <img src="/assets/instagram-logo-name.png" alt="Instagram Logo" class="img-fluid mb-3" (click)="navigateToHome()">
  <br>
  <br>
  <!-- Profile Image -->
  <div class="profile-container" (click)="navigateToProfile()">
    <img [src]="'data:image/png;base64,' + user?.image" alt="Profile Image" class="img-circle">
    <h4>Profile</h4>
  </div>
  <br>
  <br>
  <!-- Create Button -->
  <div class="button-container">
    <button class="post"  (click)="openDialog();"> &oplus; Create</button>
  </div>
  <br>
  <br> 
  <div class="button-container" style="float: left;">
    <button class="unique-button" type="button" (click)="logout()">
      <i class="fa-light fa-arrow-right-from-bracket"></i> Logout
    </button>
  </div>
  <br>
  <br>
  <div class ="button-container" style="float: left;">
    <button class="unique-button" type="button" (click)="recommanded()"> Recommanded </button>
  </div>
  <br>
  <br>
  <div>
    <app-theme-toggle></app-theme-toggle>
  </div>
</div>
