<div class="forgot-password-container">
    <h2>Forgot Password</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter your email">
        <div *ngIf="forgotPasswordForm.get('email')?.errors?.['email'] && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)" class="text-danger">
            <div *ngIf="forgotPasswordForm.get('email')?.hasError('required')">Email is required.</div>
            <div *ngIf="forgotPasswordForm.get('email')?.hasError('email')">Invalid email format.</div>
          </div>
      </div>
      <button type="submit" class="btn btn-primary" >Send Reset Email</button>
    </form>
  </div>
  