<div class="signup-container ">
  <div style="height: 50%;">
    <img style="height: 70px;" src="/assets/instagram-logo-name.png">
    <h2>Sign up to see photos and videos from your friends.</h2>
    <button type="button" class="login-facebook">Log in with Facebook</button>
    <div class="divider">OR</div>
</div>
    <div>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        
        <input type="email" id="email" name="email" placeholder=" Email" [(ngModel)]="user.email" required>
      </div>
      <div class="form-group">
        
        <input type="text" id="fullName" name="fullName" placeholder="Full Name" [(ngModel)]="user.fullName" required>
      </div>
      <div class="form-group">
        
        <input type="text" id="email" name="userName" placeholder="UserName" [(ngModel)]="user.userName" required>
      </div>
      <div class="form-group">
        
        <input type="password" id="password" name="password" placeholder="Password" [(ngModel)]="user.password" required>
      </div>
      
      <button type="submit">Sign Up</button>
    </form>
</div>
  </div>
  <div class="signup-container signup-link">
    Have an account? <a routerLink="/">Login</a>
  </div>
  