.user-list-container {
    position: relative; /* For positioning the nav buttons */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin: auto;
    /* padding: 20px; */
    box-sizing: border-box;
}

.user-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Responsive columns */
    gap: 20px;
    margin-bottom: 20px; /* Space between profiles and navigation buttons */
    width: 100%;
    position: relative; /* For positioning the nav buttons */
}

.user-info {
    position: relative; /* For positioning the nav buttons */
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent; /* Transparent background */
    border-radius: 50%; /* Ensure circular shape */
    box-shadow: none; /* Remove shadow */
}

.img-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid blue;
    transition: transform 0.3s ease;
}

.img-circle:hover {
    transform: scale(1.1);
}

.nav-buttons {
    position: absolute;
    top: 50%;
    width: 100%; /* Full width for proper positioning */
    display: flex;
    justify-content: space-between; /* Push buttons to the edges */
    transform: translateY(-50%); /* Center vertically */
    padding: 0 20px; /* Padding to ensure buttons are not too close to the edge */
    box-sizing: border-box;
}

.nav-button {
    background-color: #f3efef; /* Gray background color */
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 30px; /* Size of the < and > symbols */
    color: #333; /* Color of the symbols */
    border-radius: 50%; /* Round shape */
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 30px; /* Ensures round button */
    height: 30px; /* Ensures round button */
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-buttons > .nav-button:first-child {
    /* margin-right: auto; Align the first button to the left */
    float: right;
}

.nav-buttons > .nav-button:last-child {
    margin-left: auto; /* Align the last button to the right */
}

.nav-button:hover {
    background-color: #c0c0c0; /* Darker gray on hover */
    transform: scale(1.1); /* Slightly enlarge the button on hover */
}
