<div class="user-list-container">
    <div class="user-list">
        <div *ngFor="let user of visibleUsers" class="user-info">
            <img [src]="'data:image/png;base64,' + user?.image" alt="Profile Image" class="img-circle" (click)="navigateToUserStatus(user?.id)">
        </div>
       <div class="nav-buttons">
    <!-- Show prev button only if currentIndex is greater than 0 -->
    <button class="nav-button" *ngIf="currentIndex > 0" (click)="prevUser()">&lt;</button>
    
    <!-- Show next button only if there are more users to display -->
    <button class="nav-button" *ngIf="currentIndex + pageSize < userList.length" (click)="nextUser()">&gt;</button>
</div>

    </div>
</div>